body{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    overflow: hidden;
}
.section-left{
    display: flex;
}
.section-left div{
    padding: 15px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
}

.section-middle{
    display: flex;
}

.section-middle .search-box{
    padding:15px; margin:0;
}
.section-middle .search-box form div{
    display: flex;
}
.section-middle .search-box form input{
    width: 470px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border:0;
    outline: 2px solid #eee;
    padding:14px 15px;
}
.section-middle .search-box form button{
    background-color: #eee;
    border: 0;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px;  
    padding: 8px 25px;
    outline: 2px solid #eee;
}
.section-middle .voice{
    padding:10px 0;
}
.section-middle .voice a img{
    background-color: #eee;
    padding:12px;
    border-radius: 50%;
}

.section-right {
    display: flex;
}
.section-right div{
    padding:15px;
}
.youtube-wrapper {
    display: flex;
}
.youtube-wrapper .left-section{
    width: 280px;
    padding-right: 15px;
}
.youtube-wrapper .left-section:hover{
    overflow-y: scroll;
    height: 100vh;
}
.youtube-wrapper .left-section .content-wrapper{
    display: flex;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.youtube-wrapper .left-section .content-wrapper:hover{
    background-color: rgb(241, 241, 241);
}
.youtube-wrapper .left-section .content-wrapper div{
    padding:10px;
}
.youtube-wrapper .left-section .content-wrapper .icon{
    padding:13px 15px 13px 20px;
}
.youtube-wrapper .left-section .content-wrapper .text{
    font-weight: 400;
    font-size: 16px;
    padding: 14px;
}

hr{
    height: 1px;
    background-color: #ddd;
    border: 0;
    margin: 10px 0;
}
.title{
    padding:0 14px ;
}

.youtube-wrapper .right-section{
    padding: 0px 20px;
    width: 100%;
}
.category-section{
    padding: 15px 0;
}
.category-section ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.category-section ul li{
    list-style-type: none;
}
.category-section ul li a{
    display: block;
    padding: 10px 20px;
    background-color: #eee;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    color: #333;

}
.video-wrapper{
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
}
.video-section{
    display: grid;
    grid-column: 4;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    margin:0;
    padding-right: 20px;    
}
.video-section .video-content:hover{
    cursor: pointer;
}
.video-section .video-content .thumbnail {
    padding: 15px 0;
}
.video-section .video-content .thumbnail img{
    border-radius: 15px;
}
.video-content .text-video{
    display: flex;
}

.video-content .text-video .text .title{
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}
.video-content .text-video .text .brand-name{
    padding-top: 10px;
    padding-bottom: 5px;
}
.video-content .text-video .text :is(.brand-name,.view){
    padding-left: 15px;
    font-size: 14px;
}
.shorts-wrapper{
    display: flex;
    justify-content: space-between;
}
.shorts-wrapper .close a{
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.shorts-section{
    display: flex;
}
.shorts-section .text{
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}
.shorts-content{
    display: grid;
    grid-column: 9;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
    margin:0; 
    padding: 10px; 
}
.shorts-content .shorts-card{
    width: 185px;
    overflow: hidden;
    border-radius: 10px;
}
.shorts-content .shorts-card .title{
    padding: 0;
    margin: 0;
}
.shorts-content .shorts-card .title h4{
    font-size: 17px;
    line-height: 24px;
}
.shorts-content .shorts-card .thumbnail{
    overflow: hidden;
    height: 300px;
    width: 100%;
    /* height: 100%; */
}
.shorts-content .shorts-card .thumbnail img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}